body {
  font-family: Arial, sans-serif;
  background-color: #b2c5cd;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: #333;
  /* text-align: center; */
  margin-top: 20px;
}

p {
  color: #666;
  text-align: center;
  margin-top: 20px;
}

article {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
